<h2> Изменение товара/услуги</h2>
<form [formGroup]="editProductForm" class="container" (ngSubmit)="editProduct()" method="POST" >
  <mat-form-field for="name">
    <input type="text" matInput formControlName="name" name="name" id="name" placeholder="Название продукта">
  </mat-form-field>

  <mat-form-field for="cost">
    <input type="number" matInput formControlName="cost" name="cost" id="cost" placeholder="Стоимость">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Производитель" matInput [matAutocomplete]="auto" formControlName="customer" name="customer" id="customer">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field for="measure">
    <mat-label>Ед. измер.</mat-label>
    <select matNativeControl formControlName="measure" name="measure" id="measure">
      <option value="кг.">кг.</option>
      <option value="шт.">шт.</option>
      <option value="л.">л.</option>
    </select>
  </mat-form-field>

  <div> {{ message }}</div>
  <button mat-raised-button type="submit">Сохранить</button>
  <button mat-raised-button type="button" (click)="toProductList()" >К списку товаров и услуг</button>
</form>
