<h2> Редактирование изготовителя</h2>
<form [formGroup]="editCustomerForm" class="container" (ngSubmit)="editCustomer()" method="POST" >
  <mat-form-field for="id" hidden>
    <input type="text" matInput formControlName="id" name="id" id="id" hidden>
  </mat-form-field>

  <mat-form-field for="name">
    <input type="text" matInput formControlName="name" name="name" id="name" placeholder="Название изготовителя">
  </mat-form-field>

  <mat-form-field for="address">
    <input type="text" matInput formControlName="address" name="address" id="address" placeholder="Адрес">
  </mat-form-field>

  <mat-form-field for="phones">
    <input type="text" matInput formControlName="phones" name="phones" id="phones" placeholder="Телефон">
  </mat-form-field>
  <button mat-raised-button type="submit">Сохранить</button>
  <button mat-raised-button type="button" (click)="toCustomerList()" >К списку производителей</button>
</form>
