table {
  width: 100%;
  align-items: center;
  margin:auto;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
